API_ID=27888997
API_HASH=a801415fa33d85e59f0160d28efd628b
BOT_TOKEN=7468236262:AAFjRf7TM3LupgFWucopPIJzWzbUzY311jA
LOG_GROUP_ID=-1002545532501
MONGO_DB_URI=mongodb+srv://VFierce1125:VFierce1125@cluster0.rfzfxom.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6810518770
STRING_SESSION=AQGpjWUAoW-LhSO-LFi9cX254RUt0AEJog4kq2vfomxq_0BmDkxGHz3s5uQOI6iolxewImeydpUL0DgoI8ICoDkRLkOQe8wwu785tkCBqW9JG7piFYy6rGZjuOIlTiTSM1XMvb-xKQiid_ICVxpB6qBioseoKG8FJuH6PsUUmeXrBT-p7CoHnRJPycJaXSwv1MzXDhfMo5jFIcpL3YlvPXxxwRCTBnvkJ0tBhq0ZXXbVw3XRh69Es57QGSOaPAAdIktldFdPMgf7E3sHXzSlBq2kRdZEGXcvyV-rP1r0bWKTbA6IRVvP-l96L9ppVULso1CRwrL3rxJloYp8ERiFanUQ9xuDVQAAAAGV8ETyAA
